.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: none;
}

.mapPopup .leaflet-popup-content {
    color: #458E42;
    font-size: 28px;
    font-weight: bold;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.mapPopup .leaflet-popup-content a {
    background: #458E42;
    margin: 0 10px;
    border-radius: 50px;
    color: white;
    font-weight: normal;
    transition: .3s;
}

.mapPopup .leaflet-popup-content a:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.mapPopup .leaflet-popup-tip-container {
    display: none;
    position: relative;
}