.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 5px;
}

.card .card-content .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1
}

.card .card-content .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card .card-content .card-redirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(196 196 204 / var(--tw-border-opacity));
  width: 100%;
  align-self: flex-end;
}

.card .card-content .card-redirect button {
  background: #283729;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  transition: .3s ease;
  width: 100px;
  padding: 5px;
}