.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 5px;
}

.card .card-content .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-title label {
  font-weight: 600;
  text-transform: uppercase;
}

.card .card-content .card-footer {
  width: 100%;
}

.card .card-content .card-footer p {
  text-align: center;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(196 196 204 / var(--tw-border-opacity));
  @apply m-0 py-2 text-gray-550;
}

.card .card-content .card-redirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(196 196 204 / var(--tw-border-opacity));
  width: 100%;
  align-self: flex-end;
  @apply pt-4
}

.card .card-content .card-redirect a {
  text-align: center;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  transition: 0.3s ease;
  width: 100%;
  @apply py-3 bg-green-brasao hover:bg-green-900
}
