.login-body {
  padding: 20px;
}

.login-position {
  display: flex;
  justify-content: center;
}

.login-content {
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  @apply px-16 pb-10
}



.login-content h1 {
  display: flex;
  justify-content: center;
  @apply pb-2 pt-0
}

.login-content label {
  color: #6E6B7B;
  margin-bottom: 5px;
}


.login-content a {
  text-decoration: none;
}

.login-content .redes-sociais button {
  border-radius: 10px;
  background-color: transparent;
  @apply flex items-center justify-center 
}

.login-content .redes-sociais button svg {
  @apply mr-2
}

.login-content .redes-sociais button:first-child {
  @apply border-blue-600 border-2 text-blue-600 font-bold bg-blue-100
}

.login-content .redes-sociais button:last-child {
  @apply border-red-600 border-2 text-red-600 font-bold bg-red-100
}

@media screen and (max-width: 768px) {
  .login-body {
    padding-top: 110px;
  }
}